<div class="background-gradient">


    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img src="../../assets/images/home-garden-logo.png" class="homegarden-logo" alt="armchair">

            <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <span class="nav-link pt-font active">Products</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link pt-font">Stories</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link pt-font">Our Story</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link pt-font">Blog</span>
                    </li>
                </ul>

            </div>
        </nav>

        <div class="info-section">
            <div class="row">
                <div class="col-md-6 display-flex">

                    <div class="page-title-section">

                        <p class="catch-line">A beautiful house</p>
                        <h1 class="type-text">Furniture.</h1>
                        <p class="para">Finf out the most efficient way to start organizing your home. Being by creating
                            storage
                            space. </p>
                        <div class="video-section">
                            <div class="play-icon">
                                <i class="fa fa-play"></i>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3">
                    <div class="chair1-section">
                        <div class="chair-info">

                            <img class="chair-img" src="../../assets/images/beautiful-chair.png" alt="brautiful chair">
                            <div class="char-description">

                                <h1>01.</h1>
                                <p>A beautiful chair</p>
                                <p class="chart-para">
                                    A collection of simplae, minimal, chairs and seating.
                                </p>
                            </div>
                        </div>
                        <div class="chair1-box">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="chair-section">
                        <div class="chair-info chair2-info">

                            <div class="char-description mt-0">

                                <h1>02.</h1>
                                <p>A Perfect armchair</p>
                                <p class="chart-para">
                                    A collection of simplae, minimal, chairs and seating.
                                </p>
                            </div>
                            <img class="chair-img" src="../../assets/images/perfect-arm-chair.png" alt="perfect chair">
                        </div>
                        <!-- <div class="chair2-box">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <div class="row policy-info">
        <div class="col-md-3">
            <p class="policy-info-days">16<sup class="policy-info-sup">DAYS</sup></p>
            <p>You can return for free</p>
        </div>
        <div class="col-md-3">
            <p class="policy-info-days">4-5<sup class="policy-info-sup">DAYS</sup></p>
            <p>The maximum delivery time</p>
        </div>
        <div class="col-md-4">
            <form class="form-inline">
                <input class="searchField" type="search" aria-label="Search" placeholder="Find your best furniture">
            </form>
        </div>
        <div class="col-md-2">
            <div class="social-media-links">

                <img class="social-media-icons" src="../../assets/images/ball-icon.png" alt="icon">
                <img class="social-media-icons" src="../../assets/images/linkedin-icon.png" alt="linkedin">
                <img class="social-media-icons" src="../../assets/images/insta-icon.png" alt="instagram">
            </div>
        </div>
    </div>
</div>